
.loader {
    
    right: 40%;
    top: 40%;
    position: absolute;
    left: 47%;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #639D84;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 4s linear infinite;
    z-index: 1;
  }
  #loadertext {
    z-index: 1;
    margin: 0 auto;
    top: 60%;
    position: absolute;
    left: 40%;
    right: 40%;
    color: #fffbfb;
    font-family: arial;
    border-radius: 50%;
    width: max-content;
    font-weight: 600;

    
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /* Hide the website content initially */
  #content {
    display: none;
  }
.logo{
    width: 70px;
    height: 70px;
}

body{
    background: cadetblue;
    margin: 20%;
}
li #navitem{
    color: #639D84;
}
nav{
   border-bottom-right-radius: 15px;
   border-bottom-left-radius:   15px;
    background: cadetblue;
    opacity: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11), 0 6px 20px 0 rgba(0, 0, 0, 0.06);
}

#coverimg{

    width: -webkit-fill-available;
}
#marqueetext{
    font-style: normal;
    text-align: center;
    font-size: small;
    background: aliceblue;
    opacity: 80%;
}

@media only screen and (max-width: 600px) {
   
    .loader {
    left: 40%;
    }
  }